.main-box {
    height: 800px;
    width: 800px;
    border: 2px solid black;
    position: relative;
    margin: auto;
}

.box {
    position: relative;
    height: 200px;
    width: 200px;
}

.inner-box-text {
    text-align: center;
    vertical-align: middle;
    line-height: 82px;
    font-size: 30px;
    color: rgb(187, 15, 15);
}

.inner-box {
    height: 60%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px dashed grey;
}

.b-border {
    border-bottom: 2px solid black;
}

.r-border {
    border-right: 2px solid black;
}

.br-border {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.bottom-start {
    position: absolute;
    left: 49.75%;
    height: 100px;
    border: 1px solid black;
}

.bottom-start-strong {
    position: absolute;
    top: 900px;
    left: 46.5%;
    height: 5px;
    width: 50px;
    background-color: black;
}

.bottom-text {
    position: absolute;
    top: 910px;
    left: 47%;
}

.entry {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 2px;
    width: 70px;
    background-color: black;
}

.entry-square {
    position: absolute;
    top: 48.2%;
    left: 866px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 21px;
    border: 2px solid black;
    color: red;
    font-size: 30px;
}
.node {
    height: 15px;
    width: 15px;
    background-color: black;
    position: absolute;
    z-index: 2;
}
.bot {
    position: absolute;
    z-index: 4;
    width: 0; 
    height: 0; 
}
.bot_n {
    border-left: 25px solid transparent;
    border-right:25px solid transparent;
    border-bottom: 25px solid black; 
}
.bot_s {
    border-left: 25px solid transparent;
    border-right:25px solid transparent;
    border-top: 25px solid black; 
}
.bot_w {
    border-top: 25px solid transparent;
    border-bottom:25px solid transparent;
    border-left: 25px solid black; 
}
.bot_e {
    border-top: 25px solid transparent;
    border-bottom:25px solid transparent;
    border-right: 25px solid black; 
}